*{
    margin: 0;
    padding: 0;
}

body{
    background-color:gainsboro;
    font-family: "Poppins", serif;
}

header{
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: green;
    font-family: "Host Grotesk", sans-serif;
}

.match-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 2px solid black;
}

.match-details h3{
    color: green;
    margin-bottom: 7px;
    margin-left: 10px;
}

.block{
    background-color:white;
    padding: 10px;
}

.team-name{
    display: flex;
}

.team-name input, .over input, .striker input, .non-striker input, .bowler input{
    padding: 5px 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px soild black;
    margin: 0 30px 0 0px;
}

.toss-won input, .opted-to input{
    margin: 0 7px 0 10px;
}

.start-button button{
    padding: 10px;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    background-color: green;
}

.players h2{
    text-align: center;
    padding: 20px;
    color: green;
    text-decoration:underline;
}

.start-button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}